<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Success</title>
    <style>
      * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
      }

      body {
        background-color: #ebf0f5;
      }

      .set-img img {
        width: 10rem;
      }

      main {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
      }

      .main-model {
        background: white;
        box-shadow: 0px 2px 6px #dddd;
        padding: 6rem;
      }

      .sub-model {
        text-align: center;
      }

      .ps h1 {
        font-family: system-ui;
        font-weight: 900;
        color: #47ba5b;
      }

      .ps p {
        font-size: 21px;
        font-family: sans-serif;
      }
    </style>
  </head>

  <body>
    <main>
      <div class="main-model">
        <div class="sub-model">
          <div class="set-img">
            <img
              src="/public/a/img/png-transparent-correct-success-tick-basic-ui-elements-icon-removebg-preview.png"
              alt="loading....."
            />
          </div>
          <div class="ps">
            <h1>Success</h1>
            <p>
              We received your request;<br />
              This is your Transaction id: <b id="transactionId"></b><br />
              We'll be in touch shortly!
            </p>
          </div>
        </div>
      </div>
    </main>

    <script>
      // Function to generate a random ID
      function generateTransactionId() {
        return "TID-" + Math.random().toString(36).substr(2, 9);
      }

      // Generate the transaction ID
      const transactionId = generateTransactionId();

      // Display the transaction ID in the HTML
      const transactionIdElement = document.getElementById("transactionId");
      transactionIdElement.textContent = transactionId;
    </script>
  </body>
</html>
