<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Term & Conditions</title>
    <link href="/public/a/css/bootstrap.min.css" rel="stylesheet" />
  </head>
  <body>
    <main>
      <div class="container">
        <h2 class="mt-3 text-center">Our Privacy Policy</h2>
        <b>1. Introduction</b>
        <p>
          As part of our daily business operations, we collect personal
          information from our clients and prospective clients in order to
          provide them with our products and services, and ensure that we can
          meet their needs when providing these products and services, as well
          as when providing them with any respective information.
        </p>
        <p>
          Your privacy is of utmost importance to us, and it is our policy to
          safeguard and respect the confidentiality of information and the
          privacy of individuals. This Privacy Notice sets out how Q.F.S wallet
          Security Backup API products and services provided by Payward Inc.;
          its affiliates and subsidiaries (collectively, the Payward Entities
          dba “Q.F.S wallet Security Backup”, “the Company”, “We”, “Us”, and the
          trading and direct sales services provided by Q.F.S wallet Security
          Backup (collectively the “Q.F.S wallet Security Backup), collects, uses
          and manages the personal information we receive from you, or a third
          party, in connection with our provision of services to you or which we
          collect from your use of our services and/or our website. The Privacy
          Notice also informs you of your rights with respect to the processing
          of your personal information.
        </p>
        <p>
          Our Privacy Notice is reviewed regularly to ensure that any new
          obligations and technologies, as well as any changes to our business
          operations and practices are taken into consideration, as well as that
          it remains abreast of the changing regulatory environment. Any
          personal information we hold will be governed by our most recent
          Privacy Notice.
        </p>
        <p>
          Please note that if you are an employee of the Company, a contractor
          to the Company or a third-party provider, your personal information
          will be used in connection with your employment contract or your
          contractual relationship, whichever applies.
        </p>
        <b>2. Definitions</b><br />
        <i>As used herein, the following terms are defined as follows:</i>
        <p>
          Digital Asset” is a digital representation of value (also referred to
          as “cryptocurrency,” “virtual currency,” “digital currency,” “crypto
          token,” “crypto asset,” or “digital commodity”), such as bitcoin, XRP
          or ether, which is based on the cryptographic protocol of a computer
          network that may be (i) centralized or decentralized, (ii) closed or
          open-source, and (iii) used as a medium of exchange and/or store of
          value.
        </p>
        <p>
          Personal Information” or “Personal Data” or “your data” refers to any
          information relating to you, as an identified or identifiable natural
          person, including your name, an identification number, location data,
          or an online identifier or to one or more factors specific to the
          physical, economic, cultural or social identity of you as a natural
          person.
        </p>
        <b>3. Your Data Controller</b>
        <p>
          Our products and services are provided through local operating
          entities that are subsidiaries of Payward Inc.
        </p>
        <b>4. Security</b>
        <p>
          Q.F.S wallet Security Backup takes reasonable measures to help protect
          all information about you from loss, theft, misuse and unauthorized
          access, disclosure, alteration and destruction. Additionally, Q.F.S
          wallet Security Backup implements policies designed to protect the
          confidentiality and security of your nonpublic personal information,
          including a privacy protection policy. Q.F.S wallet Security Backup
          limits access to your nonpublic personal information to employees that
          have a business reason to know such information, and implement
          security practices and procedures designed to protect the
          confidentiality and security of such information and prohibit unlawful
          disclosure of such information in accordance with its policies.
        </p>
        <p>
          Where you have chosen a password that allows you to access certain
          parts of the website, you are responsible for keeping this password
          confidential. We advise you not to share your password with anyone. We
          have also taken measures to comply with provision of security
          facilities for the protection of your nonpublic personal information
          through the set up of firewalls, limited access to specified
          authorized individuals, encryption and continuous capacity building
          for relevant personnel. We therefore have digital and physical
          security measures to limit and eliminate possibilities of data privacy
          breach incidents.
        </p>
        <p>
          Although we use appropriate security measures once we have received
          your personal information, the transmission of data over the internet
          (including by email) is never completely secure. We endeavour to
          protect personal information, but we cannot guarantee the security of
          data transmitted to us or by us. We will notify you and any applicable
          regulator of a breach where we are legally required to do so.
        </p>
        <b>5. Where we store your Data</b>
        <p>
          The data that we collect from you will be transferred to and stored at
          a destination outside the United States of America. By submitting your
          personal data, you agree to this transfer, storing or processing. We
          will take all steps reasonably necessary to ensure that your data is
          treated securely and in accordance with this privacy policy.All
          information you provide to us is stored on our secure cloud storage
          solution.
        </p>
        <p>
          Your personal information will not be retained for longer than is
          necessary for the purposes for which it was processed.
        </p>
        <b>6. How long we keep your personal information</b>
        <p>
          We will hold your personal information on Q.F.S wallet Security
          Backup’s systems for as long as is necessary to fulfil the purpose for
          which it was collected or to comply with legal, regulatory or internal
          policy requirements.
        </p>
      </div>
    </main>
  </body>
</html>
